.main {
  display: flex;
  height: 100vh;
}

.wrapper {
  overflow: hidden;
  height: 100vh;
}

.heading,
.content {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 20px;
  margin: 1em;
  width: 100%;
}

.content {
  overflow-y: auto;
  height: 80%;
}

.content p {
  color: #828282;
}

.header {
  display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: auto;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .content {
    font-size: 1.4rem;
    margin: 0.5em 0;
  }

  .profile {
    margin-left: 1em;
  }

  .wrapper,
  .content,
  .header {
    width: 100%;
  }

  .main {
    width: 100%;
  }
}
