.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  place-items: center;
}

.lhs {
  text-align: left;
  height: 50%;
}

.lhs h1 {
  color: #fff;
  font-size: 2.5em;
  margin: 0.5em 0;
  font-weight: 600;
}

.lhs p {
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}

.lhs h1 span {
  color: #fda085;
  margin-left: 0.2em;
}

.lhs h1 span:hover {
  color: #f6d365;
  text-decoration: line-through solid #fff;
}

.rhs img {
  width: 100%;
  object-fit: cover;
}

.button_ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fda085;
  color: #fff;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1em;
}

.button:hover {
  background-color: #f6d365;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
.wrapper{
height: 100%;
}
  .inner {
    grid-template-columns: 1fr;
  }
}
