.wrapper {
  width: 100vw;
  height: 60vh;
  animation: slideIn forwards 1s ease-in-out;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inner h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(37, 34, 34);
}

.inner p {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgb(99, 93, 93);
}

.inner h1 span {
  color: rgb(37, 34, 34);
}

.button_ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0.5em;
}

.button:hover {
  background-color: rgb(99, 93, 93);
  transition: all 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
