@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}



h1,
h2,
h3 {
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  width: auto;
}


.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  .form,
  .content {
    padding: 1em;
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .goals {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .goal {
    width: 100%;
  }

  li a,
  li button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li span,
  li button span {
    font-size: 13px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
