.wrapper {
  border-bottom: 1px solid rgb(71, 71, 71);
  margin: 0.2em 0;
}

.dropDown {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  cursor: pointer;
}

.small_circle_ctn {
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.small_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.todo_item_text {
  margin-left: 0.5em;
}

.todo_item_text p {
  color: rgb(177, 174, 174);
  font-weight: 400;
  font-size: 0.8em;
}

.day {
  margin-left: auto;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(128, 126, 126);
  border-bottom: 1px solid rgb(71, 71, 71);
}


